<header class="header-container">
  <div class="header-inner">
    <h1 class="header-title">Gestion des <span>Produits</span></h1>

    <nav class="nav-menu">
      <a routerLink="/" routerLinkActive="active-link" class="nav-link">Accueil</a>
      <a routerLink="/produits" routerLinkActive="active-link" class="nav-link">Produits</a>
      <a routerLink="/ajouter-produit" routerLinkActive="active-link" class="nav-link">Ajouter</a>
      

      <span class="separator">|</span>

      <a *ngIf="!authService.isAuthenticated()" routerLink="/login" class="nav-link">Connexion</a>
      <a *ngIf="authService.isAuthenticated()" (click)="logout()" class="nav-link">Déconnexion</a>
    </nav>
  </div>
</header>
