.header-container {
  background-color: #1a237e;
  color: white;
  padding: 20px 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-inner {
  display: flex;
  align-items: center;
  gap: 15px;
  
}

.logo {
  height: 80px;
  width: 90px;
  object-fit: contain;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.header-title span {
  color: #ffca28;
  margin-left: 5px;
}
