<div class="super-admin-container">
  <h1>Tableau de Bord Super Admin</h1>
  <div class="card-container">
    <div class="dashboard-card" (click)="navigateToUsers()">
      <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="Users">
      <h3>Gestion des Utilisateurs</h3>
      <p>Afficher, modifier les rôles, et supprimer les comptes utilisateurs.</p>
    </div>
    <div class="dashboard-card" (click)="navigateToProduits()">
      <img src="https://cdn-icons-png.flaticon.com/512/4290/4290854.png" alt="Produits">
      <h3>Gestion des Produits</h3>
      <p>Consulter, ajouter, modifier ou supprimer les produits disponibles.</p>
    </div>
  </div>
</div>
